body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.post-profile-img-section {
  padding: 5px;
}

.post-profile-img {
  height: 100%;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content-author {
  font-weight: bold;
}

.content-date {
  font-size: 14px;
  color: gray;
}

.content-section {
  background: #ffffff;
  padding: 10px;
  border: 1px solid #dddddd;
  width: 95%;
}

.article-content {
  white-space: pre-line;
  margin-bottom: 0px;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}